{{> header}}

<body>
    <h1>{{getGrreting greeting}}</h1>

    <h2><a href="/about">About us</a></h2>
    <h2><a href="/projects">Projects</a></h2>
    <h2><a href="/help">Help</a></h2>
    <h2><a href="/">Home</a></h2>

</body>

{{> footer}}
</html>